mixin header
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script( src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
  // Latest compiled JavaScript
  //Seedrandom thing
  script( src='https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js')
